<header style="
margin-top: 20%;
    font-size: 50px;
    text-align: center;
    font-family: 'SF Compact Display';
    color: brown;
  ">
    <hr style="width:50%;text-align:center;padding-top: 10%;">
    Real Estate Investing Information<br />That Matters to You.
</header>
<br />
<br />
<div class="row">
    <div class="col-lg-12">



        <form>
            <div style="text-align: center">
                <button class="btn btn-outline-danger" type="submit" routerLink="/signup">
                    Sign Up with LinkedIn
                </button>
                <br />
                <button class="btn btn-light" disabled>Sign In</button>
            </div>
        </form>


    </div>
</div>